In [43]:
print("Om vakraduntaaya Namah")

Om vakraduntaaya Namah

In [32]:
import numpy as np
import mysql.connector

## You can download and  install mysql on your laptop 
https://dev.mysql.com/downloads/installer/

In [66]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin"
)

mycursor = mydb.cursor()

#mycursor.execute("CREATE DATABASE mydatabase")

In [67]:
mycursor.execute("SHOW DATABASES")

In [68]:
for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [8]:
#mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [69]:
mycursor.execute("use mydatabase")  
mycursor.execute("SHOW TABLES")  
for x in mycursor: 
    print(x)

('contact',)
('customers',)
('employee',)

In [70]:
for x in mycursor:
  print(x)

In [10]:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [60]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [61]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [62]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('John', 'Highway 21', 15)
('Peter', 'Lowstreet 4', 16)
('Amy', 'Apple st 652', 17)
('Hannah', 'Mountain 21', 18)
('Michael', 'Valley 345', 19)
('Sandy', 'Ocean blvd 2', 20)
('Betty', 'Green Grass 1', 21)
('Richard', 'Sky st 331', 22)
('Susan', 'One way 98', 23)
('Vicky', 'Yellow Garden 2', 24)
('Ben', 'Park Lane 38', 25)
('William', 'Central st 954', 26)
('Chuck', 'Main Road 989', 27)
('Viola', 'Sideway 1633', 28)

Using the fetchone() Method

If you are only interested in one row, you can use the fetchone() method.

The fetchone() method will return the first row of the result:

In [63]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)

# Select With a Filter

In [71]:
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 11)
('Ben', 'Park Lane 38', 25)

In [72]:
mycursor = mydb.cursor()
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)
('John', 'Highway 21', 15)
('Susan', 'One way 98', 23)
('Viola', 'Sideway 1633', 28)

In [65]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin"
)
mycursor = mydb.cursor()
mycursor.execute("use mydatabase")  
mycursor.execute("show databases")  




#Retrieving single row
sql = '''SELECT * from EMPLOYEE INNER JOIN CONTACT ON EMPLOYEE.CONTACT = CONTACT.ID'''
#sql = "SELECT * from EMPLOYEE INNER JOIN CONTACT ON EMPLOYEE.CONTACT = CONTACT.ID"
#Executing the query
mycursor.execute(sql)

InternalError: Unread result found