In [1]:
import numpy as np 
import pandas as pd # web mckenny

In [3]:
df = pd.read_csv("/home/nbuser/warranty.csv",sep=',')
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head(2)

,Row ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority,Return,Returned
0,41520,MA-2013-1850,10/14/2013,10/15/2013,First Class,DH-3675,Duane Huffman,Home Office,Antananarivo,Analamanga,...,Machines,"StarTech Printer, Red","$1,519.92",6.0,0.0,653.40,286.20,Critical,No,0
1,47596,CG-2012-2700,12/22/2012,12/24/2012,Second Class,DH-3675,Duane Huffman,Home Office,Kinshasa,Kinshasa,...,Bookcases,"Dania Classic Bookcase, Traditional",$410.76,1.0,0.0,176.61,73.81,High,No,0

In [6]:
df.tail()

,Row ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority,Return,Returned
21,41745,BU-2013-9680,9/9/2013,9/14/2013,Standard Class,DH-3675,Duane Huffman,Home Office,Sofia,Sofiya-Grad,...,Paper,"Xerox Computer Printout Paper, Recycled",26.25,1.0,0.0,8.640,1.49,Medium,No,1
22,42851,TU-2013-3950,4/5/2013,4/6/2013,First Class,DH-3675,Duane Huffman,Home Office,Istanbul,Istanbul,...,Supplies,"Kleencut Ruler, Easy Grip",6.07,1.0,0.6,-8.808,1.20,High,No,1
23,43579,RS-2011-8340,4/13/2011,4/13/2011,Same Day,DH-3675,Rodger John,Home Office,Ufa,Bashkortostan,...,Envelopes,"Jiffy Business Envelopes, Recycled",18.36,1.0,0.0,3.300,1.20,Medium,No,1
24,46793,IZ-2014-3850,12/11/2014,12/15/2014,Standard Class,DH-3675,Rodger John,Home Office,Baghdad,Baghdad,...,Furnishings,"Rubbermaid Light Bulb, Black",18.84,NaN,0.0,8.460,0.93,Medium,No,0
25,47999,CG-2012-2700,12/22/2012,12/24/2012,Second Class,DH-3675,Duane Huffman,Home Office,Kinshasa,Kinshasa,...,Phones,"Apple Speaker Phone, VoIP",246.78,2.0,0.0,98.700,19.04,High,No,0

In [8]:
df.dtypes

Row ID              int64
Order_ID           object
Order_Date         object
Ship_Date          object
Ship_Mode          object
Customer_ID        object
Customer Name      object
Segment            object
City               object
State              object
Country            object
Postal Code       float64
Market             object
Region             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales              object
Quantity          float64
Discount          float64
Profit            float64
Shipping_Cost     float64
Order_Priority     object
Return             object
Returned            int64
dtype: object

In [9]:
df.columns

Index(['Row ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping_Cost', 'Order_Priority', 'Return', 'Returned'],
      dtype='object')

In [11]:
df.isnull().sum()

Row ID             0
Order_ID           0
Order_Date         0
Ship_Date          0
Ship_Mode          0
Customer_ID        0
Customer Name      0
Segment            0
City               0
State              0
Country            0
Postal Code       26
Market             0
Region             0
Product ID         0
Category           0
Sub-Category       0
Product Name       0
Sales              0
Quantity           2
Discount           0
Profit             0
Shipping_Cost      0
Order_Priority     0
Return             0
Returned           0
dtype: int64

In [15]:
df[df.duplicated()]

Empty DataFrame
Columns: [Row ID, Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer Name, Segment, City, State, Country, Postal Code, Market, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Shipping_Cost, Order_Priority, Return, Returned]
Index: []

[0 rows x 26 columns]

In [18]:
df['Category'].unique()

array(['Technology', 'Furniture', 'Office Supplies'], dtype=object)

In [20]:
df[['Category','Sales']]

           Category       Sales
0        Technology  $1,519.92
1         Furniture    $410.76
2         Furniture      534.72
3        Technology      249.18
4   Office Supplies      111.38
5   Office Supplies      111.38
6   Office Supplies      581.04
7        Technology      414.36
8        Technology      246.78
9   Office Supplies       96.12
10  Office Supplies       56.92
11       Technology       31.75
12  Office Supplies       69.84
13  Office Supplies       14.52
14  Office Supplies       53.73
15  Office Supplies       50.46
16  Office Supplies       49.92
17  Office Supplies       26.22
18  Office Supplies       29.67
19  Office Supplies       25.23
20  Office Supplies        19.8
21  Office Supplies       26.25
22  Office Supplies        6.07
23  Office Supplies       18.36
24        Furniture       18.84
25       Technology      246.78

In [22]:
df[df['Quantity']>4]

,Row ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping_Cost,Order_Priority,Return,Returned
0,41520,MA-2013-1850,10/14/2013,10/15/2013,First Class,DH-3675,Duane Huffman,Home Office,Antananarivo,Analamanga,...,Machines,"StarTech Printer, Red","$1,519.92",6.0,0.0,653.400,286.20,Critical,No,0
6,42655,AG-2011-1390,8/16/2011,8/21/2011,Standard Class,DH-3675,Duane Huffman,Home Office,Bejaia,Bejaia,...,Paper,"SanDisk Cards & Envelopes, Premium",581.04,12.0,0.0,220.680,35.32,Medium,No,0
10,43461,NI-2014-2000,6/17/2014,6/22/2014,Standard Class,DH-3675,Duane Huffman,Home Office,Port Harcourt,Rivers,...,Binders,"Acco 3-Hole Punch, Durable",56.92,6.0,0.7,-55.044,6.58,Medium,No,1

In [26]:
df.loc[df['Quantity']>4,['Category','Product Name'] ]

           Category                        Product Name
0        Technology               StarTech Printer, Red
6   Office Supplies  SanDisk Cards & Envelopes, Premium
10  Office Supplies          Acco 3-Hole Punch, Durable